#main-column {
    width: 66%;
    font-family: 'Montserrat', sans-serif;
}
#hero {
    width: 100%;
    filter: brightness(.5);
}
h1 {
    margin-top: 4rem;
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}
.top-paragraph {
    line-height: 1.5;
    font-size: 1.2rem;
    color: rgb(39, 111, 119);
}
.support-paragraph {
    font-size: 1rem;
    line-height: 1.5;
    color: #b32f2f;
}
.return-link {
    text-align: justify;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}