.main-paragraph {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 66%;
    color: sienna;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: justify;
}
h1 {
    text-align: justify;
    font-weight: 600;
}
#p1 {
    font-weight: lighter;
}
.emp-rec-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #1e7087;
    margin: 38px;
    font-family: 'Montserrat', sans-serif;
}
#staff, #job-listing, #emp-rec, #can-rec {
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 588px) {
    .emp-rec-links {
        margin: 2px;
        /*font-size: calc(10px + 50vmin);
        font-size: 2px;*/
        font-weight: lighter;
  }
}
