html {
	font-size: 100%;
}
.main-paragraph {
	font-size: 1.4rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 66%;
	color: sienna;
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
	text-align: justify;
}
h1 {
	text-align: justify;
	font-weight: 600;
}
#p1 {
	font-weight: lighter;
}
.emp-rec-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: #1e7087;
	margin: 6.4rem 1.8rem 7.5rem 1.8rem;
	font-family: "Montserrat", sans-serif;
}
#staff,
#job-listing,
#emp-rec,
#can-rec {
	text-decoration: none;
	text-align: justify;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}
@media only screen and (max-width: 588px) {
	.emp-rec-links {
		margin: 0.13rem;
		font-weight: lighter;
	}
}

@media only screen and (max-width: 324px) {
	html {
		font-size: 50%;
	}
	.main-paragraph {
		width: 88%;
		margin-bottom: -10rem;
	}
	#emp-rec {
		font-weight: lighter;
		font-size: 1rem;
		line-height: 2;
	}
	#how-we-work {
		font-size: 60%;
	}
}
