#paragraph{
    justify-content: center;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color: rgb(39, 111, 119);
    width: 66%;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}
.smalltxt a {
    justify-content: center;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color: rgb(39, 111, 119);
    width: 66%;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.interview-section {
    margin-top: 6rem;
    margin-bottom: 6rem;
    border-radius: 1rem;
    border-width: .1rem;
    padding: 2rem;
    background: #eceae270
}
h1{
    margin-bottom: 2rem;
}
h2 {
  color: sienna;
  text-align: left;
}
#back-to {
    text-decoration: none;
}