.main {
	font-size: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	width: 66%;
	color: sienna;
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	text-align: justify;
}
#title {
	font-size: 1.2rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
	font-weight: lighter;
}

#frame {
	border: solid;
	border-width: 0.1rem;
	border-color: sienna;
	border-radius: 1rem;
	margin-top: 2rem;
	height: 121rem;
}
@media only screen and (max-width: 736px) {
	.main {
		width: 92%;
		margin-bottom: -22rem;
	}
	#title {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	#frame {
		width: 146%;
		transform: scale(0.6);
		margin-left: -17rem;
		margin-top: -24rem;
	}
}
@media only screen and (max-width: 598px) {
	.main {
		margin-bottom: -32rem;
	}
	#frame {
		width: 159%;
		transform: scale(0.6);
		margin-left: -18rem;
	}
}

@media only screen and (max-width: 520px) {
	#frame {
		width: 136%;
		transform: scale(0.7);
		margin-left: -10rem;
		margin-top: -20rem;
		margin-bottom: 4rem;
	}
}
@media only screen and (max-width: 384px) {
	#frame {
		width: 170%;
		height: 130rem;
		transform: scale(0.5);
		margin: -30rem -16rem -12rem -16rem;
	}
	.mri-logo {
		width: 78%;
	}
	#contact {
		margin-top: -12rem;
	}
}
@media only screen and (max-width: 324px) {
	.main {
		width: 96%;
		margin-bottom: -26rem;
	}

	#title {
		width: 92%;
		margin: 5rem 0 -20rem 1rem;
	}
	#frame {
		width: 180%;
		height: 100rem;
		transform: scale(0.5);
		margin-top: -1rem;
		margin-left: -16rem;
		margin-bottom: -10rem;
	}
}
