.main {
	font-size: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6rem;
	width: 66%;
	color: sienna;
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	text-align: justify;
}
#title {
	font-size: 1.2rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
	font-weight: lighter;
}

#frame {
	border: solid;
	border-width: 0.1rem;
	border-color: sienna;
	border-radius: 1rem;
}
@media only screen and (max-width: 736px) {
	#title {
		margin-left: 5rem;
		margin-right: 5rem;
	}
	#frame {
		width: 146%;
		transform: scale(0.6);
		margin: -112px;
	}
}
@media only screen and (max-width: 598px) {
	#frame {
		width: 159%;
		transform: scale(0.6);
		margin: -100px;
	}
}

@media only screen and (max-width: 520px) {
	#frame {
		width: 146%;
		transform: scale(0.7);
		margin: -56px;
	}
}
@media only screen and (max-width: 384px) {
	#frame {
		width: 200%;
		transform: scale(0.5);
		margin: -108px;
	}
	.mri-logo {
		width: 78%;
	}
}
@media only screen and (max-width: 324px) {
	.main {
		width: 96%;
		margin-bottom: -26rem;
	}

	#title {
		width: 92%;
		margin: 5rem 0 -20rem 1rem;
	}
	#frame {
		width: 176%;
		height: 100rem;
		transform: scale(0.5);
		margin-top: -16px;
		margin-left: -116px;
		margin-bottom: 0;
	}
	#contact {
		margin-top: 6rem;
	}
}
