#hero {
    width: 100%;
}
.landing {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
#brand-title {
    font-size: 1rem;
    margin-top: .2rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    color: sienna;
}

#brand-one {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: rgb(74 94 97);
}
#brand-two {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-bottom: .5em;
    color: rgb(74 94 97);
}

.ind-list {
    display: flex;
    flex-direction: column;
    /*width: 58%;*/
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-shadow: .05rem .05rem white;
    color: rgb(143, 100, 113);
    font-size: 1.8rem;
}

.left-fade {
    height: auto;
    position: relative;
    display: flex;
}

.right-fade {
    display: flex;
    height: auto;
    position: relative;
    justify-content: flex-end;
}

.inline-box{
    position: relative;
    display: inline-block;
}

.ind-text {
    position: absolute;
    z-index: 999;
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    text-shadow: .05rem .05rem white;
}

.left-fade .ind-text {
    left: 10rem;
    right: 0;
}

.right-fade .ind-text {
    left: 0rem;
    right: 0rem;
}

.img-container {
    height: auto;
    position: relative;
    width: 26rem;
}

.img-container img {
    width: 100%;
}

.left-fade .img-container:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 42%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 42%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 42%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 42%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 42%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 100%);

}

.right-fade .img-container:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 80%, rgb(255, 255, 255) 98%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 80%, rgb(255, 255, 255) 98%, rgb(255, 255, 255) 100%);
    background: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 80%, rgb(255, 255, 255) 98%, rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 80%, rgb(255, 255, 255) 98%, rgb(255, 255, 255) 100%);
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 80%, rgb(255, 255, 255) 98%, rgb(255, 255, 255) 100%);
}

#office-text {
    top: 74%;
    width: 94%;
}

#it-text {
    top: 64%;
    width: 74%;
}
#telecom {
    top: 64%;
    width: 82%;
}
#construction {
    top: 64%;
    width: 86%;
}
#indust {
    top: 76%;
    width: 93%;
}
#consumer {
    top: 74%;
    width: 62%;
}
#restaurant {
    top: 79%;
    width: 97%;
}
#pharma {
    top: 77%;
    width: 79%;
}
#banking {
    top: 64%;
    width: 108%;
}
#health {
    top: 73%;
    width: 57%;
}
.bottom-links {
    display: flex;
    flex-direction: row;
    width: 44%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    font-size: 1.4rem;
}
#work-link {
    text-decoration: none;
}
@media only screen and (min-width: 1440.1px) {
    .ind-list {
      width: 66%;
    }
}
@media only screen and (max-width: 1440px) {
    .ind-list {
      width: 60%;
    }
    .right-fade .ind-text {
    left: -10rem;
    }
    .left-fade .ind-text {
    left: 16rem;
    }
}

@media only screen and (max-width: 700px) {
    /*#hero {
        display: none;
    }*/
    #title {
        font-size: 22px;
        margin: auto;
        width: 80%;
    }
}

