#hero {
    width: 100%;
}
.landing {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /*color: rgb(39, 111, 119);
    color: rgb(21 193 212);*/
    color: coral;
}
#brand-title {
    font-size: 1rem;
    margin-top: .2rem;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    color: sienna;

}
#brand-one {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    color: rgb(39, 111, 119);
}
#brand-two {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    color: rgb(39, 111, 119);
}

.ind-list {
    display: flex;
    flex-direction: column;
    width: 42%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}

.left-fade {
    height: auto;
    position: relative;
    display: flex;
}

.right-fade {
    display: flex;
    height: auto;
    position: relative;
    justify-content: flex-end;
}

.inline-box{
    position: relative;
    display: inline-block;
}

.ind-text {
    position: absolute;
    z-index: 999;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 auto;
    top: 69%;
    width: 100%;
    text-shadow: .05rem .05rem white;
}

.left-fade .ind-text {
    left: 10rem;
    right: 0;
}

.right-fade .ind-text {
    left: -22rem;
    right: 0rem;
}

.img-container {
    height: auto;
    position: relative;
    width: 21rem;
    /*margin: 5% 15% 5% 15%;*/
}

.img-container img {
    width: 100%;
}

.left-fade .img-container:after {
    position: absolute;
    content: "";
    height: 97%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, rgba(189, 195, 199, 0.29) 0%, rgba(189, 195, 199, 0.49) 34%, rgba(78, 85, 90, 0.74) 77%, rgba(19, 26, 32, 0.76) 100%);
    background: -o-linear-gradient(left, rgba(189, 195, 199, 0.29) 0%, rgba(189, 195, 199, 0.49) 34%, rgba(78, 85, 90, 0.74) 77%, rgba(19, 26, 32, 0.76) 100%);
    background: -ms-linear-gradient(left, rgba(189, 195, 199, 0.29) 0%, rgba(189, 195, 199, 0.49) 34%, rgba(78, 85, 90, 0.74) 77%, rgba(19, 26, 32, 0.76) 100%);
    background: -moz-linear-gradient(left, rgba(189, 195, 199, 0.29) 0%, rgba(189, 195, 199, 0.49) 34%, rgba(78, 85, 90, 0.74) 77%, rgba(19, 26, 32, 0.76) 100%);
    background: linear-gradient(to right, rgba(189, 195, 199, 0.29) 0%, rgba(189, 195, 199, 0.49) 34%, rgba(78, 85, 90, 0.74) 77%, rgba(19, 26, 32, 0.76) 100%);
}

.right-fade .img-container:after {
    position: absolute;
    content: "";
    height: 97%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(right, rgba(189, 195, 199, 0.29) 0%, rgba(189, 195, 199, 0.49) 34%, rgba(78, 85, 90, 0.74) 77%, rgba(19, 26, 32, 0.76) 100%);
    background: -o-linear-gradient(right, rgba(189, 195, 199, 0.29) 0%, rgba(189, 195, 199, 0.49) 34%, rgba(78, 85, 90, 0.74) 77%, rgba(19, 26, 32, 0.76) 100%);
    background: -ms-linear-gradient(right, rgba(189, 195, 199, 0.29) 0%, rgba(189, 195, 199, 0.49) 34%, rgba(78, 85, 90, 0.74) 77%, rgba(19, 26, 32, 0.76) 100%);
    background: -moz-linear-gradient(right, rgba(189, 195, 199, 0.29) 0%, rgba(189, 195, 199, 0.49) 34%, rgba(78, 85, 90, 0.74) 77%, rgba(19, 26, 32, 0.76) 100%);
    background: linear-gradient(to left, rgba(189, 195, 199, 0.29) 0%, rgba(189, 195, 199, 0.49) 34%, rgba(78, 85, 90, 0.74) 77%, rgba(19, 26, 32, 0.76) 100%);
}

#office-text {
    position: absolute;
    z-index: 999;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 auto;
    top: 69%;
    width: 141%;
    text-shadow: .05rem .05rem white;
    color: rgb(143, 100, 113)
}

#office-pic {
    position: relative;
    display: inline-block;
}
#office-pic {
    color: rgb(39, 111, 119);
}

@media only screen and (max-width: 700px) {
    /*#hero {
        display: none;
    }*/
    #title {
        font-size: 22px;
        margin: auto;
        width: 80%;
    }
}

