    #relo {
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.5;
    }

    #pic {
    
    filter: brightness(.6);
    }

    #relo-links {
        width: 66%;
        text-align: start;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        line-height: 3;
    }
    .linktxt {
        font-family: 'Montserrat', sans-serif;
        color: #2a7ca5;
    }