* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 100%;
	min-width: 320px;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
}

App {
	text-align: auto;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	color: white;
}

.mri-logo {
	width: 42%;
	margin-left: 0.9rem;
	font-family: "Raleway", sans-serif;
	display: flex;
	flex-direction: column;
}

#mr {
	margin-bottom: 0;
	margin-top: 1.2rem;
	font-size: 2.3rem;
	color: brown;
}

#sc {
	margin-bottom: 0;
	margin-top: 0.3px;
	font-size: 2.5rem;
	color: coral;
	text-align: right;
}

#hnl {
	margin-bottom: 0;
	margin-top: 0.3rem;
	font-size: 1.65rem;
	color: darkgoldenrod;
	text-align: right;
}

.back-to {
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: sienna;
	font-family: "Montserrat", sans-serif;
}
/*

.hamburger {
	display: none;
}
.hamburger img {
	filter: invert(28%) sepia(32%) saturate(4007%) hue-rotate(339deg)
		brightness(76%) contrast(90%);
}*/

@media only screen and (max-width: 1260px) {
	html {
		font-size: 92%;
	}
	nav {
		flex-direction: column;
	}
	.mri-logo {
		margin-left: auto;
		margin-right: auto;
	}
	.site-links {
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 1176px) {
	html {
		font-size: 84%;
	}
}
@media only screen and (max-width: 1088px) {
	html {
		font-size: 77%;
	}
}
@media only screen and (max-width: 980px) {
	html {
		font-size: 73%;
	}
	.site-links {
		flex-direction: column;
	}
}
@media only screen and (max-width: 930px) {
	html {
		font-size: 69%;
	}
}
@media only screen and (max-width: 882px) {
	html {
		font-size: 62%;
	}
}
@media only screen and (max-width: 786px) {
	html {
		font-size: 58%;
	}
}
@media only screen and (max-width: 736px) {
	nav {
		flex-direction: column;
	}
	.mri-logo {
		margin-left: auto;
		margin-right: auto;
	}
	.site-links {
		display: none;
	}
	.hamburger {
		display: flex;
		align-content: flex-start;
		margin-left: 2rem;
	}
	#contact {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	#toll-free,
	#city-zip {
		margin-bottom: 2rem;
	}
	#phone-number,
	#street-address {
		align-self: center;
	}
	.footer-text {
		display: none;
	}

	html {
		font-size: 84%;
	}
}
@media only screen and (max-width: 598px) {
	nav {
		flex-direction: column;
	}
	.mri-logo {
		margin-left: auto;
		margin-right: auto;
	}
	.site-links {
		margin-left: auto;
		margin-right: auto;
	}
	footer {
		display: flex;
		flex-direction: column;
	}
}
@media only screen and (max-width: 546px) {
	nav {
		flex-direction: column;
	}
	.mri-logo {
		margin-left: auto;
		margin-right: auto;
	}
	.site-links {
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}
	html {
		font-size: 92%;
	}
}
@media only screen and (max-width: 520px) {
	nav {
		flex-direction: column;
	}
	.mri-logo {
		margin-left: auto;
		margin-right: auto;
	}
	.site-links {
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}
	html {
		font-size: 70%;
	}
}

@media only screen and (max-width: 384px) {
	body {
		width: 100%;
		margin-right: -20rem;
	}
	.mri-logo {
		width: 68%;
		/*margin-left: 8rem;*/
	}

	#copyright {
		font-size: 60%;
	}
}

@keyframes fontbulger {
	0% {
		font-size: 16px;
	}
	100% {
		font-size: 17px;
	}
}
