.App {
  text-align: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  margin-bottom: 14px;
  margin-top: 14px;
}
.App h1 {
  position: inherit;
}
#business-name {
  font-family: 'Raleway', sans-serif;
  width: 38%;
  text-decoration: none;
  margin: 20px;
  font-weight: 600;
}
#mr {
  margin-bottom: 0;
  margin-top: 14px;
  font-size: 34px;
  color: brown;
}
#sc {
  margin-bottom: 0;
  margin-top: 2px;
  font-size: 36px;
  color: coral;
  text-align: right;
}
#hnl {
  margin-bottom: 0;
  margin-top: 2px;
  font-size: 26px;
  color: darkgoldenrod;
  text-align: right;
}
.site-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 46%;
  margin-right: 38px;
  font-family: 'Montserrat', sans-serif;
}
#staff, #job-listing, #emp-rec, #can-rec {
    text-decoration: none;
}
footer {
    color: #8f6471;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}
#contact {
  display: flex;
  justify-content: space-around;
}
 
@media only screen and (max-width: 588px) {

    nav {
      display: block;
      width: 90%;
    }
    #mr {
      display: block;
      margin: 10px;
    }
    #business-name {
      display: center;
      width: 90%;
    }
    .site-links {
      display: float;
      width: 90%;
      margin-left: 38px;
      margin-right: 38px;
    }
    footer {
      display: center;
      /*margin-left: 40px;
      margin-right: 40px;*/
    }
    .footer-text {
      display: none;
    }
}


@keyframes fontbulger {
  0% {
    font-size: 16px;
  }
  100% {
    font-size: 17px;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
